
<div>
	<a class="btn btn-primary" href="#" onClick="$('#settings').toggle();return false;"><#LANG_SETUP#></a>
	<div class="float-right">
		<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about">About&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span></button>
	</div>
</div>
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Alarm Server</h4>
			</div>
			<div class="modal-body">
				<p> Модуль реализующий тревожный сервер для IP камер.<br></p>
			</div>			
			<div class="modal-footer">
				<div class="pull-left">Telegram: <a href="https://telegram.me/Kash_11_Alex" target="_blank">@Алексей</a> :)</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- table zwave_devices search -->
<div style="display:none" id='settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="control-label"[#if ERR_IP#] style="color:red;font-weight:bold"[#endif#]>
 IP Адресс:
 (*)
 </label>
 <div class="controls"><input type="text" name="ip" value="[#IP#]" class="input"></div>
</div>
<div class="form-group">
 <label class="control-label"[#if ERR_PORT#] style="color:red;font-weight:bold"[#endif#]>
 Порт:
 (*)
 </label>
 <div class="controls"><input type="text" name="port" value="[#PORT#]" class="input"></div>
</div>

<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_ID_USERNAME#] style="color:red;font-weight:bold"[#endif#]>User ID:</label>
 <div class="controls"><input type="text" name="id_username" value="[#ID_USERNAME#]" class="input"></div> 
<div class="col-lg-8"> 
 <p class="help-block">
	ID пользователя из модуля телеграмм, необходим для отправки фото при возникновении тревоги.
 </p>
</div>
</div>
<div class="form-group">
	<label class="col-lg-3 control-label">Отправлять фото:</label>
		<div class="col-lg-8">
			<input name="foto" value="1" type="radio"[#if FOTO="1"#] checked[#endif#]>Вкл
			<input name="foto" value="0" type="radio"[#if FOTO="0"#] checked[#endif#]>Выкл
				<p class="help-block">
					Отправлять фото при возникновении тревоги.
				</p>
		</div>
</div>
<div class="form-group">
 <label class="col-lg-3 control-label"[#if ERR_PATCH#] style="color:red;font-weight:bold"[#endif#]>Путь к фото:</label>
 <div class="controls"><input type="text" name="patch" value="[#PATCH#]" class="input"></div> 
<div class="col-lg-8"> 
 <p class="help-block">
	Путь к временному размещению фото с камеры, по умолчанию - /var/www/html/out.jpg.
 </p>
</div>
</div>
<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>

<!-- / Вывод модуля XRAY -->
<p>[#module name="xray" action="service" cycle="alarm_server"#]</p>
<!-- / Вывод модуля XRAY -->

<!-- / Вывод Вкладок -->
<!-- source select -->
<ul class="nav nav-tabs">
  <li[#if DATA_SOURCE!="events" && DATA_SOURCE!=""#] [#else#] class="active"[#endif#]>
   <a href="?data_source=events">События</a>
  </li>
  <li[#if DATA_SOURCE!="camera"#] [#else#] class="active"[#endif#]>
   <a href="?data_source=camera">Камеры</a>
  </li>
  <li[#if DATA_SOURCE!="help"#] [#else#] class="active"[#endif#]>
   <a href="?data_source=help">Помощь</a>
  </li>
</ul>
<div>&nbsp;</div> 
<!-- / source select -->

 <!-- action usual -->
 [#if DATA_SOURCE="events" || DATA_SOURCE=""#]
 <!-- table events search -->
 [#if VIEW_MODE="search_events" || VIEW_MODE=""#]
  [#inc search_event.html#]
 [#endif VIEW_MODE#]
 <!-- / table events search -->
 <!-- table events edit -->
 [#if VIEW_MODE="edit_events"#]
   
 [#endif VIEW_MODE#]
 <!-- / table events edit -->
 <!-- table events view --> 
 [#if VIEW_MODE="view_events"#]
   
 [#endif VIEW_MODE#]
 <!-- / table events view -->
 [#endif DATA_SOURCE#]
 
 <!-- action usual -->
 [#if DATA_SOURCE="camera"#]
 <!-- table camera search -->
 [#if VIEW_MODE="search_camera" || VIEW_MODE=""#]
  [#inc search_camera.html#]
 [#endif VIEW_MODE#]
 <!-- / table camera search -->
 <!-- table camera edit -->
 [#if VIEW_MODE="edit_camera"#]
   [#inc edit_camera.html#]
 [#endif VIEW_MODE#]
 <!-- / table camera edit -->
 <!-- table camera view --> 
 [#if VIEW_MODE="add_camera"#]
   [#inc edit_camera.html#]
 [#endif VIEW_MODE#]
 <!-- / table camera view -->
 [#endif DATA_SOURCE#]
 
  [#if DATA_SOURCE="help"#]
   [#inc help.html#]
  [#endif DATA_SOURCE#]
  
	



