<!--  help view -->

<a href="?data_source=<#DATA_SOURCE#>&view_mode=add_camera" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>Добавить новую камеру</a>

[#if RESULT#]
<form action="?" method="post" name="frmListalarm_server_cam" style="padding:0px" class="form">
<table class="table table-striped">
<thead>
 <tr>
  <th>Титул</th>  
  <th>Место</th> 
  <th>SerialID</th>
  <th>Adress</th>
  <th>RTSP</th>
  <th>Время события</th>
 </tr>
 </thead>
[#begin RESULT#]
<tr>
 <td>[#TITLE#]</td>
 <td>[#PLACE#]</td>
 <td>[#SERIALID#]</td>
 <td>[#ADRESS#]</td>
 <td>[#RTSP#]</td>
<td width="150"> 
  [#if "<#ACTION#>"=="admin"#]
   
    <a class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=edit_camera&id=[#ID#]"><i class="glyphicon glyphicon-pencil"></i></a>
 
    <a class="btn btn-default btn-sm" href="?data_source=<#DATA_SOURCE#>&view_mode=delete_camera&id=[#ID#]" onClick="return confirm('<#LANG_ARE_YOU_SURE#>')"><i class="glyphicon glyphicon-remove"></i></a>

  [#endif ACTION#]
 </td>

</tr>
[#end RESULT#]
</table>
<input type="hidden" name="data_source" value="<#DATA_SOURCE#>">
<input type="hidden" name="view_mode" value="multiple_alarm_server_cam">
</form>
<!-- / search results (list) -->
[#else RESULT#]
<div>&nbsp;</div>
<div class="alert alert-warning">
<#LANG_NO_RECORDS_FOUND#>
</div>
[#endif RESULT#]
<!-- / results -->